// Basic layout styles which are used throughout the site

body {
	min-width: 260px; /* stops the pages getting ridiculously narrow */

	overflow-x: hidden;
	width: 100%;
}

.main {
	@include padding(20, 15, 30, 15);

	@media only screen and (min-width: 720px) { 
		overflow: visible;
		margin: 0 auto;
		@include width(700);
	}
}